{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div id="title">
            <h2>My Profile</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- User Information Column -->
        <div class="col-md-5 offset-md-1">
            <hr>
            <h2>User Information</h2>
            <ul class="list-unstyled">
                <li><strong>Username:</strong> {{ user.username }}</li>
                <li><strong>Full name:</strong> {{ user.full_name }}</li>
                <li><strong>Email address:</strong> {{ user.email }}</li>
                <li><strong>Member since:</strong> {{ user.member_since }}</li>
            </ul>
        </div>
        <!-- Favorite Recipes Column -->
        <div class="col-md-5">
            <hr>
            <h2>Favorite Recipes</h2>
            <div class="row">
                {% for recipe in user_profile.favorite_recipes.all %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <!-- Add more details about the recipe -->
                            <a href="{{ recipe.get_absolute_url }}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}