{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div id="title">
            <h2>My Profile</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- User Information Column -->
        <div class="col-md-5 offset-md-1">
            <hr>
            <h2>User Information</h2>
            <ul class="user-list">
                <li><strong>Username:</strong> {{ user.username }}</li>
                <li><strong>Full name:</strong> {{ user.profile.first_name }} {{ user.profile.last_name }}</li>
                <li><strong>Email address:</strong> {{ user.email }}</li>
                <li><strong>Member since:</strong> {{ user.date_joined|date:"d F, Y" }}</li>
            </ul>
        </div>
        <!-- Favorite Recipes Column -->
        <div class="col-md-5">
            <hr>
            <h2>Favourite Recipes</h2>
            <div class="card mb-4">
                <div>
                    {% for recipe in favourite_recipes %}
                    <form method="POST" action="{% url 'remove_favourites' recipe.id %}">
                        {% csrf_token %}
                        <div class="recipe-item">
                            <div class="fa-solid fa-trash trash" onclick="submitForm(this)"></div>
                            <div class="hidden-text">Delete</div>
                            <input type="hidden" name="selected_recipes" value="{{ recipe.id }}">
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="user-list">{{ recipe.title }}</a>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}