{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 account-center">
      <h3>{% trans "Sign Up" %}</h3>

      <p>{% blocktrans %}
        If you would like to join in with the baking community and
        leave a comment on our recipes, please sign up below. <br><br>
        If you already have an account, please <a href="{{ login_url }}"><strong>sign in here</strong></a>.
        {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 account-center">
      {% if username_exists %}
      <p>
        This Email or Username is already registered. Please <a href="{{ login_url }}"><strong>sign in.</strong></a>
      </p>
      {% endif %}
      {% if success_exists %}
      <p>Welcome {{ user }}!</p>
      {% endif %}
      <form class="sign-up help-text" id="signup_form" method="post" action="{% url 'account_signup' %}?next={% url 'profile' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="page-buttons" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}