/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&display=swap');

/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles for body, headings and paragraph */
body {
    font-family: 'Raleway', sans-serif;
    color: #4a474e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #4a474e;
}

a:hover {
    color: #9e7105;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Reenie Beanie', cursive;
    color: #4A474E;
    /* text-align: center; */
}

/* Headings & Titles */
#title h2 {
    text-transform: uppercase;
    font-size: 180%;
    font-weight: bolder;
    color: #9e7105;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
}

.recipe-title {
    color: #4a474e;
    text-align: left;
    font-size: 180%;
    margin-top: 10px;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px #4a474e;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    margin: 10px;
}

/* Navbar styles */
.navbar-light,
.navbar-toggler {
    border: none;
}

.navbar {
    background-color: #ffffff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9e7105;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #4A474E;
    font-weight: bolder;
}

.dropdown-item {
    color: rgba(0,0,0,.55);
}

.dropdown-item:hover {
    background-color: #f7e6de;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

/* Back to top button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    color: #4a474e;
    border-radius: 50px;
    border: none;
}

#back-to-top:hover {
    color: #9e7105;
}

/* Main content */
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Hero styles */
#hero {
    height: 200px;
    width: 100%;
    background: url('/static/images/treatbox-home.webp') no-repeat left center/cover;
    position: relative;
    /* Background colour if image doesn't load */
    background-color: #9e7105;
}

#hero-text {
    position: absolute;
    width: 80%;
    bottom: 10px;
    margin-left: 10px;
}

#hero-text h2 {
    font-size: 245%;
    text-align: left;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: block;
    background-color: rgba(253, 247, 242, .8);
}

/* Next, Previous, Back, Edit Comment, Jump button */
.page-buttons,
.edit-button {
    color: #ffffff;
    background-color: #c5af7b;
    letter-spacing: 2px;
    border: none;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    padding: .325rem .50rem;
    font-size: 80%;
}

.page-buttons:hover,
.edit-button:hover {
    color: #4a474e;
    background-color: #f7e6de;
}

.jump-button {
    margin-top: 40px;
    justify: right;
}

/* Recipe Detail Page */
/* Recipe image and title */

.image-container {
    position: relative;
    width: 100%;
    padding-top: 45%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-width {
    width: 100%;
}

.image-hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.image-hover:hover {
    opacity: 0.8;
}

.card {
    border: none;
}

.main-title {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.main-title-box {
    background-color: #f7e6de;
    color: #4a474e;
    position: relative;
}

.main-title-box h1 {
    font-size: 3em;
    margin-top: 5%;
}

.main-title-image {
    position: relative;
    overflow: hidden;
}

.post-title,
.post-excerpt {
    margin-left: 5%;
    margin-right: 20px;
    text-align: left;
}

.post-subtitle {
    margin-left: 5%;
    color: #9e7105;
}

.scale {
    width: 100%;
    height: auto;
}

.difficulty-rating {
    float: right;
    font-style: italic;
    color: #9e7105;
    font-size: 80%;
    padding-top: 10px;
}

.difficulty-rating-2 {
    font-style: italic;
    color: #9e7105;
    margin-left: 5%;
}

.icon-container {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 150%;
}

.custom-row {
    position: relative;
}

.favs {
    padding-top: 3px;
    line-height: 25px;
}

/* Sign Up, Logout & Account styles */
.hello {
    color: #9e7105;
    font-weight: bolder;
}

.account-center {
    text-align: center;
}

.account-center h3 {
    font-size: 245%;
    color: #9e7105;
}

.sign-up {
    color: #4a474e;
    background-color: rgba(205, 172, 93, .5);
    padding: 20px 15px 0px 10px;
    margin-bottom: 30px;
}

.help-text ul {
    font-size: 70%;
    list-style-type: none;
}

.posted-by {
    color: #c5af7b;
    font-weight: normal;
    font-size: 80%;
}

.errorlist {
    color: red;
}

.user-list {
    list-style-type: none;
    padding-left: 0px;
    line-height: 35px;;
}

.trash {
    padding-right: 10px;
    margin-bottom: 5px;
    color: #a4a3a6;
    cursor: pointer;
}

.hidden-text {
    display: none;
    color: #9e7105;
    padding-right: 10px;
}

.trash:hover {
    color: #e56c61;
}

.trash:hover + .hidden-text {
    display:inline-block;
    color: #e56c61;
}

/* Comments */

.count {
    color: #9e7105;
    font-size: 80%;
}

.comment-by {
    color: #c5af7b;
    font-weight: normal;
}

.comment-by-bold {
    font-size: 80%;
    color: #c5af7b;
    font-weight: bolder;
}

.approval {
    font-style: italic;
    color: #c5af7b;
    font-size: 80%;
}

.not-approved {
    color: #a4a3a6;
}

.approval-alert {
    background-color: #f7e6de;
    margin-top: 15px;
    text-align: center;
}

.delete-button,
.remove-button {
    color: #ffffff;
    background-color: #4a474e;
    letter-spacing: 2px;
    border: none;
    transition-duration: 0.5s;
    margin-bottom: 20px;
    padding: .325rem .50rem;
    font-size: 80%;
}

.delete-button:hover,
.remove-button:hover {
    background-color: #f7e6de;
    color: #4a474e;
}

/* Contact page */
/* Contact header image */
/* #contact-image {
    height: 250px;
    width: 100%;
    background: url("number90cake.webp") no-repeat left bottom/cover;
    display: flex;
    /* Background colour if image doesn't load */
    background-color: #9e7105;
}

#contact-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-text h2 {
    background-color: rgba(253, 247, 242, .8);
    color: #4a474e;
    font-size: 270%;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
} */

/* Contact form */
/* #getintouch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    margin-bottom: 30px;
}

#contact-form {
    flex: 1;
    max-width: 600px;
    color: #4a474e;
    background-color: rgba(205, 172, 93, .5);
    padding: 15px;
}

#contact-form a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}

.input-area {
    background-color: rgba(205, 172, 93, .5);
    color: #4a474e;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 2px;
    padding: 0 5px;
}

.design-area {
    height: 75px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    padding: 10px;
    line-height: 30px;
}

input[type=checkbox] {
    margin: 10px 10px 0;
    line-height: normal;
    width: 18px;
    height: 18px;
}

.button-right {
    text-align: right;
    padding: 10px 0;
}

.send-button {
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: 2px;
    background-color: #4a474e;
    color: #f7e6de;
    border: none;
    font-size: 130%;
    text-align: center;
    width: 90px;
    height: 40px;
    border-radius: 2%;
    transition-duration: 0.5s;
}

.send-button:hover {
    background-color: #f7e6de;
    color: #4a474e;
} */

/* Thank you page */
/* .thankyou {
    font-size: 120%;
    text-align: center;
} */


/* Footer Section */
#footer {
    background-color: #f7e6de;
}

#social-media {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #4a474e;
    transition-duration: 0.5s;
}

#social-media i:hover {
    color: #9e7105;
}

.copyright {
    font-size: 80%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Hero styles */
    #hero-text {
        font-size: 200%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Hero Styles */
    #hero-text {
        width: 550px;
        height: 150px;
        right: 40px;
    }

    #hero-text h2 {
        text-align: right;
        font-size: 180%;
        padding: 30px;
    }

    /* Contact page */
    /* #getintouch {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;
        margin-bottom: 30px;
    }

    #contact-text h2 {
        font-size: 450%;
    }

    #contact-form {
        flex: 1;
        max-width: 600px;
    }

    .form-row {
        display: flex;
    }

    .input-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
    } */
}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Styles changed to create more space around the outside of the pages when viewed on a larger screen */

    /* Header */
    header {
        padding-inline: 100px;
    }
}

/* Large devices (laptops and desktops, 1500px and up) */
@media screen and (min-width: 1500px) {

    /* Styles changed to create more space around the outside of the pages when viewed on a larger screen */

    /* Header */
        header {
        padding-inline: 250px;
    }
}