{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ recipe.title }}</h1>
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="scale" src="{% static 'images/default.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="scale" src=" {{ recipe.featured_image.url }} "
                    alt="{{ recipe.title }}">
                {% endif %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <article class="card-text">
                    {{ recipe.content | safe }}
                </article>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}