{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="main-title">
    <div class="container">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 main-title-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
            <div class="col-md-6 main-title-text">
                <h1 class="post-title">{{ recipe.title }}</h1>
                <p class="post-excerpt">{{ recipe.excerpt }}</p>
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">
                    {{ recipe.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}