{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tags for search engines-->
    <meta name="description"
        content="Blush Bakes by Rach | Recipe Blog. Sharing recipes for celebratory cakes and other sweet treats.">
    <meta name="keywords"
        content="blush bakes by rach, recipes, baking blog, recipe blog, cake maker, cake artist, baker, cakes, biscuits, cupcakes, brownies, hurstpierpoint, sussex">
    <title>Blush Bakes by Rach | Recipe Blog</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header section with Logo and Navigation -->

    <header>
        <a href="{% url 'home' %}">
            <img class="header-logo" src="{% static 'images/header-logo.webp' %}" width="120" height="120"
                alt="Blush Bakes by Rach logo">
        </a>
        <input type="checkbox" id="nav-toggle" name="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fa-solid fa-bars"></i></label>
        <nav class="nav-main">
            <ul id="menu" aria-label="Menu with links to internal pages">
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Section -->
    <main>
        <!-- Hero Image & Text Overlay -->
        <section id="hero"
        aria-label="One treat box containing biscuits and cakes and another box of cupcakes, all decorated in blush pink">
            <div id="hero-text">
                <h2>
                    Tasty Baking Recipes
                </h2>
            </div>
        </section>


        {% block content %}
        <!-- Main content to go here -->
        {% endblock content %}

    </main>

    <!-- Back to top -->
    <button onclick="topFunction()" id="back-to-top" class="fa solid fa-circle-up" aria-label="Back to the top of the page"></button>

    <!-- Footer Section -->
    <footer id="footer">
        <p class="py-3 text-center">Follow us on Social Media:</p>
        <ul id="social-media">
            <li><a href="https://www.facebook.com/blushbakesbyrach" target="_blank" rel="noopener"
                    aria-label="Follow me on Facebook (opens in a new tab)">
                    <i class="fa-brands fa-facebook" title="Follow me on Facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/blushbakesbyrach/" target="_blank" rel="noopener"
                    aria-label="Follow me on Instagram (opens in a new tab)">
                    <i class="fa-brands fa-instagram" title="Follow me on Instagram"></i></a>
            </li>
            <li><a href="#" target="_blank" rel="noopener"
                    aria-label="Get in touch (takes you to contact page)">
                    <i class="fa-solid fa-envelope" title="Get in touch"></i></a>
            </li>
        </ul>
        <p class="py-3 text-center copyright">
            {% block copyright %} 
                Built by Rachael Babister for educational purposes only | 2024
            {% endblock copyright %}
        </p>
    </footer>
    <!-- Font Awesome Link -->
    <script src="https://kit.fontawesome.com/c2f2557f2c.js" crossorigin="anonymous"></script>

    <!-- JavaScript Link -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>