{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tags for search engines-->
    <meta name="description"
        content="Blush Bakes by Rach | Recipe Blog. Sharing recipes for celebratory cakes and other sweet treats.">
    <meta name="keywords"
        content="blush bakes by rach, recipes, baking blog, recipe blog, cake maker, cake artist, baker, cakes, biscuits, cupcakes, brownies, hurstpierpoint, sussex">
    <title>Blush Bakes by Rach | Recipe Blog</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="#">
    <link rel="icon" type="image/png" sizes="32x32" href="#">
    <link rel="icon" type="image/png" sizes="16x16" href="#">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header section with Logo and Navigation -->
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="header-logo" src="{% static 'images/header-logo.webp' %}" width="120" height="120"
                alt="Blush Bakes by Rach logo">
        </a>
        <h1 class="hidden-heading">Blush Bakes by Rach | Recipe Blog</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu with links to internal pages">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
          </div>
        </header>

    <!-- Main Section -->
    <main>

        <!-- Hero Image & Text Overlay -->
        <section id="hero" class="position-relative">
            <img src="path/to/hero-image.jpg" alt="Description of hero image" class="img-fluid">
            <div id="hero-text" class="position-absolute top-50 start-50 translate-middle text-center text-light">
                <h2>
                Bespoke Celebratory <br>
                Cakes and Treat Boxes
                </h2>
            </div>
        </section>

        {% block content %}
        <!-- Main content to go here -->
        {% endblock content %}

    </main>

    <!-- Back to top -->
    <a href="#top" id="return-to-top" class="top" aria-label="An icon to take you back to the top of the page"><i
            class="fa-regular fa-circle-up fa-lg"></i></a>

    <!-- Footer Section -->
    <footer id="footer">
        <ul id="social-media">
            <li><a href="https://www.facebook.com/blushbakesbyrach" target="_blank" rel="noopener"
                    aria-label="Follow me on Facebook (opens in a new tab)">
                    <i class="fa-brands fa-facebook" title="Follow me on Facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/blushbakesbyrach/" target="_blank" rel="noopener"
                    aria-label="Follow me on Instagram (opens in a new tab)">
                    <i class="fa-brands fa-instagram" title="Follow me on Instagram"></i></a>
            </li>
            <li><a href="#" target="_blank" rel="noopener"
                    aria-label="Get in touch (takes you to contact page)">
                    <i class="fa-solid fa-envelope" title="Get in touch"></i></a>
            </li>
        </ul>
    </footer>
    <!-- Font Awesome Link -->
    <script src="https://kit.fontawesome.com/c2f2557f2c.js" crossorigin="anonymous"></script>
</body>

</html>